<div ng-show="pageReady">
	<h1>Meet {{amoeba.getFullName()}}.</h1>
	<p ng-show="amoebaStatusMessage">{{amoebaStatusMessage}}</p>
	<h4>Owner</h4>
	<p>{{amoeba.owner.username}}</p>
	<h4>Breeder</h4>
	<p>{{amoeba.breeder.username}}</p>
	<h4>Birthday</h4>
	<p>{{amoeba.createdAt | date: 'mediumDate'}}</p>
	<div>
		<h4>Ancestors<span ng-show="ancestors.length > 0"> ({{ancestors.length}})</span></h4>
		<div ng-show="ancestorsReady">
			<p ng-show="ancestors.length == 0">
				{{amoeba.name}} has no ancestors.
			</p>
			<ul>
				<li ng-repeat="ancestor in ancestors"><a href="#/amoeba/{{ancestor.id}}">{{ancestor.getFullName()}}</a></li>
			</ul>
		</div>
		<div ng-hide="ancestorsReady">
			Loading ancestors...
		</div>
	</div>
	<div>
		<h4>Offspring<span ng-show="descendents.length > 0"> ({{descendents.length}})</span></h4>
		<div ng-show="descendentsReady">
			<p ng-show="descendents.length == 0">
				{{amoeba.name}} has no offspring.
			</p>
			<ul>
				<li ng-repeat="descendent in descendents"><a href="#/amoeba/{{descendent.id}}">{{descendent.getFullName()}}</a></li>
			</ul>
		</div>
		<div ng-hide="descendentsReady">
			Loading offspring...
		</div>
	</div>
</div>
<div ng-hide="pageReady">
	Loading...
</div>