<h1>Feel free to interface, {{sessionUser.firstName}}</h1>
<div ng-show="numIncomingAmoebae > 0">
    <p>Your friends sent you some amoebae!</p>
    <p>
        <a href="#/inbox"><button type="button" class="btn btn-success" ng-href="/inbox">Check them out</button></a>
    </p>
</div>
<div ng-show="ownerAmoebaeLoaded && myAmoebae.length > 0">
    <p>
        Select an Amoeba:
        <select ng-model="selectedAmoeba" ng-options="amoeba.getFullName() for amoeba in myAmoebae"></select>
    </p>
    <p>
        <strong>Breeder:</strong> {{selectedAmoeba.breeder.username}}
    </p>
    <p>
        <strong>Birthday:</strong> {{selectedAmoeba.createdAt | date: 'mediumDate'}}
    </p>
    <p>
        <span ng-show="selectedAmoeba.parentA && selectedAmoeba.parentB"><strong>Parents: </strong> <a href="#/amoeba/{{selectedAmoeba.parentA.id}}">{{selectedAmoeba.parentA.name}}</a> and <a href="#/amoeba/{{selectedAmoeba.parentB.id}}">{{selectedAmoeba.parentB.name}}</a></span>
        <span ng-hide="selectedAmoeba.parentA && selectedAmoeba.parentB">This amoeba does not have parents.
    </p>
    <p>
        <strong>Breed with: </strong> <select ng-model="breedWithAmoeba" ng-options="b.getFullName() for b in myAmoebae"></select>
        <button type="button" class="btn btn-success btn-xs" ng-click="handleBreedClick()">+</button>
        <span>{{breedStateMessage}}</span>
    </p>
    <p>
        <strong>Change first name: </strong>
        <input type="text" placeholder="New name" ng-model="selectedAmoeba.name">
        <button type="button" class="btn btn-success btn-xs" ng-click="handleRenameClick()">Rename</button>
        <span>{{renameStateMessage}}</span>
    </p>
    <p ng-hide="selectedAmoeba.recipient || recipients.length == 0">
        <strong>Send to: </strong>
        <select ng-model="selectedRecipient" ng-options="recipient.name for recipient in recipients"></select>
        <button type="button" class="btn btn-success btn-xs" ng-click="handleSendClick()">Send</button>
        <span>{{sendStateMessage}}</span>
    </p>
    <p ng-show="selectedAmoeba.recipient">
        You sent {{selectedAmoeba.getFullName()}} to {{selectedAmoeba.recipient.username}}, but they haven't adopted {{selectedAmoeba.getFullName()}} yet...
        <button type="button" class="btn btn-success btn-xs" ng-click="handleTakeBackClick()">Take {{selectedAmoeba.getFullName()}} Back</button>
    </p>
    <p ng-show="recipients.length == 0">
        You have no Facebook friends who are playing My Amoeba. <a ng-click="facebookInvite()">Invite some friends</a> to share your amoeba with them.
    </p>
    <p>
        <button type="button" class="btn btn-danger" ng-click="handleKillClick()">Kill {{selectedAmoeba.getFullName()}}</button>
        <span>{{killStateMessage}}</span>
    </p>
    <p>
        <button type="button" class="btn" ng-click="getAncestors()">Get Ancestors</button>
        <div ng-show="ancestors && ancestors.length > 0">
            <ul>
                <li ng-repeat="ancestor in ancestors">{{ancestor.getFullName()}}</li>
            </ul>
        </div>
    </p>
</div>
<p ng-hide="ownerAmoebaeLoaded">
    Loading your amoebae...
</p>
<div ng-show="ownerAmoebaeLoaded && myAmoebae.length == 0">
    <h2>You're clean as a whistle!</h2>
    <p>You don't own any amoebae. Just like the real world, you have to have someone give them to you.</p>
    <p><a ng-click='requestAmoebae()'>Ask your friends</a> to send you an amoeba. Once they start breeding, there's plenty to go around!</p>
    <button type="button" class="btn btn-success" ng-click="requestAmoebae()">Request Amoebae</button>
    <p>{{requestAmoebaeStateMessage}}</p>
</div>
<p>
    <button type="button" class="btn" ng-click="handleLogoutClick()">Logout</button>
</p>
</div>